<div class="home_page">
    <div id="home_page_sticky">
      <h3 class="title_home">Home</h3>
      <div id="mobileView_icon">
        <img src="./assets/images/user.png" alt="myphoto" class="swati_photo" />
        <i class="fa-brands fa-twitter twitter_logo"></i>
      </div>
    </div>

    <div id="home_page_moving">
      <app-tweet-box></app-tweet-box>
      <app-tweets></app-tweets>
    </div>

    <footer id="footer">
      <i class="fa-solid fa-house fa-2x footer_icon" style="width:20px"></i>
      <i class="fa-solid fa-magnifying-glass fa-2x footer_icon"></i>
      <i class="fa-regular fa-bell fa-2x footer_icon"></i>
      <i class="fa-regular fa-envelope fa-2x footer_icon"></i>
    </footer>

  </div>