<app-tweet-box></app-tweet-box>
<div *ngFor="let tweet of allTweets" class="tweet">
    <div class="tweet_content">
        <div id="tweet_profile">
          <img src="./assets/images/user.png" class="my_photo" alt="user" />
          <h3>
            <span id="profile_name">{{ tweet.user.username }}</span>
            <img src="./assets/images/blue-tick.png" class="tweetContent_icon" /> <span class="tweet_id">{{ tweet.published }}</span>
            <!-- <img src="./assets/images/blue-tick.png" class="tweetContent_icon" /> <span class="tweet_id">{{ tweet.user.username }}</span> -->
          </h3>
        </div>
        <p class="p">
          <span class="p-1">{{ tweet.content }}</span>
        </p>
    </div>
</div>